#tm_extra_product_options {
    background: none repeat scroll 0 0 #fff;

    border: 0 none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    margin: 0 !important;
}
#tm_extra_product_options .wc-enhanced-select input{
    display: block;
}
#tm_extra_product_options .select2-container{
    width: 100% !important;
}
.tm_mode_builder .builder_selector {
    padding: 1em;
}
.tm-att-value{
    color: #1E8CBE;
    font-weight: normal;
    font-size: 1em;
}
.tm-att-label {
    font-weight: 300;
    font-size: 10px;
}
.tm-att-id {
    font-weight: bold;
    font-size: 1em;
}
.tm-type,.tm-att-value{
    margin-right: 1em;
}
.tm-att-id{
    font-size:0.8em;
}
.tm-att-label,.tm-att-id{
    margin-right:1px;
}
.epo-option-image{
    max-height: 100px;
    height: auto;
    width: auto;
}
.tmcp-price-input {
    width: 100px !important;
}
.wc-metaboxes-wrapper .woocommerce_tm_epo.wc-metabox h3 {
    padding: .5em .75em .5em 1em !important;
    cursor: default;
}
.wc-metaboxes-wrapper .woocommerce_tm_epo.wc-metabox .tmicon {
    float: right;
}
.wc-metaboxes-wrapper .woocommerce_tm_epo.wc-metabox.closed .fold:before{
    content: "\f0d7";
}
.tmcp_pricing label{
    width: 100%;
}

.tm-att-label,  .tm-att-id,.tm-att-value {
    height: 30px;
    display: inline-block;
    line-height: 30px;
    margin: 7px 0;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .tm_quantity{
    text-align: center;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .tm_quantity .edit,.woocommerce_order_items_wrapper table.woocommerce_order_items .tm_quantity .view{
    min-width: 100px;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .tm_quantity .edit input{
    float: left;
    width: 70%;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .tm_quantity .edit small{
    float: right;
    width: 20%;
}
.woocommerce_tmcp_attributes.wc-metabox-content{
    background: #fdfdfd;
}
.woocommerce_tmcp_attributes.wc-metabox-content .data{
    padding: 1em 2em;
}
.form-row .tm-hide-price label,.form-row .tm-required label,.form-row .tm-enabled label {
    display: inline;
}
.form-row .tm-hide-price,.form-row .tm-required,.form-row .tm-enabled {
    display: inline-block;
    line-height: 28px;
    padding: 2px;
}
.missing h3,.missing .tm-att-value{
    color: #e74c3c;
}
.tm-50{
    float: left;
    width: 50%;
    min-height: 1px;
    overflow:auto;
}
.tm-header .tm-50{
    font-size: 0.9em;
    font-weight: bold;
}


.tm-c input.value {
    width: 100%;
}
.tm-c.name {
    border-left: 0 none !important;
}
.tm-order-line-option.item{
    background: #fafafa none repeat scroll 0 0;
    color: #2c3e50;
}

#woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items tr.tm-order-line-option td {
    border-color: #ebebeb;
}
.tm-order-line{
    background: #95a5a6 none repeat scroll 0 0;
    color: #fff;
}
#woocommerce-order-items .woocommerce_order_items_wrapper table.woocommerce_order_items tbody tr.tm-order-line td{
    cursor: default;
    font-size: 0.9em;
    font-weight: bold;
    vertical-align: bottom;
    border-color: #7f8c8d;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items tbody tr.tm-order-line-option td{
    border-bottom-style: dashed;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items tbody tr.tm-order-line-option:last-child td{
    border-bottom-style: none;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items td.tm-epo-order-data{
    padding: 0;
}
.tm-order-header {
    background: #fff none repeat scroll 0 0;
    color: #7f8c8d;
    display: inline-block;
    margin-bottom: 1em;
    padding: 0 0.5em;
}

#woocommerce-order-items .wc-order-edit-line-item-actions .tm-delete-order-item::before {
    font-family: Dashicons;
    font-variant: normal;
    font-weight: 400;
    height: 100%;
    left: 0;
    line-height: 1;
    margin: 0;
    position: relative;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    top: 0;
    width: 100%;
}
#woocommerce-order-items .wc-order-edit-line-item-actions .tm-delete-order-item::before {
    content: "\f158";
}
#woocommerce-order-items .wc-order-edit-line-item-actions .tm-delete-order-item:hover::before{
    color: #a00;
}

.wc-metaboxes-wrapper .wc-metabox select.tmcp-price-input-type {
    position: relative;
    top: -2px;
    width: auto !important;
}

.tm_mode_select {
    text-align: center;
}
.tm_mode_select.title {
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 2em;
}
.tm_select_mode {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background: none repeat scroll 0 0 transparent !important;
    border-color: #f5f5f5 !important;
    border-image: none !important;
    border-style: solid !important;
    border-width: 0 0 4px !important;
    color: #ddd !important;
    display: inline-block !important;
    float: left;
    font-size: 3em !important;
    height: 3em !important;
    line-height: 3em !important;
    margin: 20px 0 !important;
    padding: 0 !important;
    text-align: center;
    width: 50%;
    display: none !important;
}

.tm_mode_builder,.tm_mode_local{
    display:none;
}
.tm_mode_selector + div + div + .tm_options_group {
    display: none;
}
.tm_mode_selector.tm_hidden + div + div + .tm_options_group {
    display: block;
}
.tm_mode_selector.tm_hidden .tm_mode_select.title {
    display: none;
}
.tm_mode_selector.tm_hidden .tm_mode_select {
    height: 5em;
    margin: 0;
    padding: 0;
}
.tm_mode_selector.tm_hidden .tm_select_mode {
    -web-kit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border-top: 0 none !important;
    float: left !important;
    font-size: 1em !important;
    font-weight: bold;
    height: 5em !important;
    line-height: 5em !important;
    margin: 0 !important;
    width: 40% !important;
    display: block !important;
}
.tm_mode_selector.tm_hidden .tm_select_mode.tm_settings_select {
    width: 20% !important;
}
.tm_mode_selector.tm_hidden .tm_select_mode:hover{
    color: #95a5a6 !important;
}
.tm_mode_selector.tm_hidden .tm-hidden{
    display: none !important;
}
.tm_select_mode.button-primary {
    background: none repeat scroll 0 0 #fff !important;
    border-bottom: 0 solid #95a5a6 !important;
    -web-kit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    border-radius: 100% !important;
    border-top: 4px solid #f5f5f5 !important;
    color: #34495e !important;
    float: none !important;
    height: 4em !important;
    line-height: 4em !important;
    margin: 1em !important;
    width: 7em !important;
    text-shadow:none !important;
}
.tm_mode_selector.tm_hidden .tm_select_mode.button-primary {
    background: none repeat scroll 0 0 transparent !important;
    border-bottom: 4px solid #088AFE !important;
    border-color: #bac2c4 #bac2c4 #088AFE !important;
    color: #088AFE !important;
}
#tm_extra_product_options_inner {
    overflow: hidden;
}
#tm_extra_product_options_inner .form-field {
    float:none;
}
.tm_mode_selector.tm_hidden {
    height: 5em;
    margin-bottom: 1em;
    padding: 0 !important;
}
.tm_options_group{
    background: none repeat scroll 0px 0px #fff;
    border-top: 0px solid #ecf0f1;
    margin-top: 0em;
    padding: 0px !important;
    margin-right: 0px;
    margin-left: 0;
    margin-bottom: 0;
    width: 100% !important;
}
.tm_options_group.woocommerce_options_panel .form-field {
    padding: 0 1em 1em !important;
}
/* !important for 2.3 compatibility */
.tm_options_group label {
    display: inline-block;
    float: none !important;
    margin: 0 !important;
    max-width: 80% !important;
    padding: 0 !important;
    vertical-align: top;
    width: auto !important;
}
.tm_options_group .woocommerce-help-tip {
    float: right;
    top: 3px;
}
.tm_options_group .woocommerce-help-tip:after {
    content: "\f059";
    font-family: tc-fontawesome;
}
.tm_wrapper .message2x2 .wp-tab-panel li {
    border-bottom: 1px dotted #eee;
    padding-bottom: 2px;
    padding-top: 1px;
}
.tm_wrapper .message2x2 .wp-tab-panel li:last-child {
    border-bottom: 0 none;
}
.tm_wrapper .message2x2 .wp-tab-panel li input[type="checkbox"], 
.tm_wrapper .message2x2 .wp-tab-panel li input[type="radio"]{
    margin: -4px 4px 0 0 !important;
    vertical-align: middle;
    width: 16px;
    border: 1px solid #b4b9be;
}

.wc-metaboxes-wrapper .tm_wrapper .wc-metabox table table {
    border-top: 0 none;
    padding: 0;
}
.tmcp_attr_list {
    margin-right: 5px;
}
.tm_mode_local.tm_wrapper .toolbar {
    text-align: right;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}
.tm_mode_local.tm_wrapper .toolbar a{
    text-decoration: none;
}
.tm-options > label {
    width: 100%;
    font-weight: bold;
}

.form-row > label {
    font-weight: bold;
}

.cpf-img-on-cart,.cpf-data-on-cart {
    display: block;
}
.cpf-img-on-cart img {
    margin-right: 0.5em;
    max-width: 100%;
}
.cpf-data-on-cart::before {
    content: "\f046";
    font-family: tc-fontawesome;
    margin-right: 0.5em;
    vertical-align: middle;
}
.cpf-data-on-cart,.cpf-img-on-cart {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    margin-bottom: 0.5em;
}