/* Mega Menu */
.mega-menu, .sidebar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    @include clearfix;

    li.menu-item {
        display: block;
        position: relative;
        margin: 0;

        > a {
            display: block;
            text-decoration: none;
            text-align: $left;
            position: relative;
            outline: medium none;
            margin-top: 0;
            margin-bottom: 0;
            line-height: 24px;
            font-family: inherit;
            font-size: inherit;

            > .fa {
                width: 18px;
                text-align: center;
            }
            > .fa,
            > .avatar {
                /*display: none;*/
                margin-#{$right}: 5px;
            }
            > .avatar img {
                margin-top: -5px;
                margin-bottom: -4px;
            }
            > [class*='flag-'] {
                display: inline-block;
                width: 16px;
                height: 11px;
                margin-top: -2px;
                margin-#{$right}: 6px;
                margin-#{$left}: 1px;
                vertical-align: middle;
                line-height: 0;
                &:before {
                    display: none;
                }
            }
            > .thumb-info-preview {
                position: absolute;
                display: block;
                #{$left}: 100%;
                opacity: 0;
                border: 0;
                padding-#{$left}: 10px;
                background: transparent;
                overflow: visible;
                margin: 15px 0 0;
                top: -1000px;
                @include transition(transform .2s ease-out, opacity .2s ease-out);
                @if $rtl == 1 {
                    transform: translate3d(30px,0,0);
                } @else {
                    transform: translate3d(-30px,0,0);
                }
                opacity: 0;
                max-width: none;
                .thumb-info-wrapper {
                    display: block;
                    border: 0;
                    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
                    margin: 0;
                    padding: 0;
                    text-align: $left;
                }
                .thumb-info-image {
                    width: 182px;
                    height: 136px;
                    min-height: 0;
                    @include transition(all 5s linear 0s);

                    &.fixed-image {
                        background-position: $left top;
                        background-size: auto 100%;
                    }
                }
            }
            &:hover {
                z-index: 1;
                > .thumb-info-preview {
                    transform: translate3d(0,0,0);
                    top: 0;
                    opacity: 1;
                    margin-top: -5px;
                }
            }
        }
        > .nolink {
            cursor: default;
        }
    }

    ul.sub-menu {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .tip {
        color: #fff;
        display: inline-block;
        font-size: 9px;
        line-height: 1;
        padding: 2px;
        position: relative;
        margin-#{$left}: 10px;
        vertical-align: middle;
        top: -1px;

        &.hot {
            background-color: #eb2771;

            .tip-arrow:before {
                color: #eb2771;
            }
        }

        .tip-arrow:before {
            display: inline-block;
            font-family: "Elusive-Icons";
            font-size: 5px;
            position: absolute;
            width: 4px;
            height: 6px;
            margin: auto;
            content: if-ltr($el-var-caret-left, $el-var-caret-right);
            #{$left}: -4px;
            text-align: $right;
            top: 0;
            bottom: 0;
        }
    }
}

.mega-menu {
    li.menu-item {
        > a {
            font-weight: $font-weight-normal;
        }
    }
    > li.menu-item {
        float: $left;

        &.narrow {
            position: relative;
        }

        &.has-sub > a {
            .thumb-info-preview {
                display: none;
            }
        }

        > a {
            display: inline-block;
            font-size: .8571em;
            font-weight: 700;
            line-height: 20px;
            padding: 9px 12px 8px;

            > .fa {
                width: auto;
            }

            .tip {
                position: absolute;
                top: -9px;
                #{$right}: 10px;

                .tip-arrow:before {
                    content: $el-var-caret-down;
                    #{$left}: 2px;
                    bottom: -3px;
                    top: auto;
                    width: auto;
                    height: auto;
                }
            }

            > .thumb-info-preview {
                #{$left}: -100%;
                #{$right}: -100%;
                padding-#{$left}: 0;
                padding-top: 10px;
                transform: translate3d(0,20px,0);
                opacity: 0;
                margin: auto;
                width: 190px;
            }
            &:hover {
                > .thumb-info-preview {
                    top: 100%;
                    transform: translate3d(0,0,0);
                }
            }
        }

        &.active,
        &:hover > a {
            color: #fff;
        }

        &.has-sub {
            &:hover {
                z-index: 111;
            }
        }
    }

    .popup {
        position: absolute;
        text-align: $left;
        top: 100%;
        margin: 0;
        z-index: 111;
        min-width: 100%;

        ul.sub-menu {
            position: relative;
        }
        li.menu-item {
            padding: 0;

            > a {
                font-size: 13px;
            }
        }
    }

    .wide {
        .popup {
            border-top: 3px solid #ccc;
            box-shadow: $menu-wide-box-shadow;
            #{$right}: auto;
            #{$left}: 0;

            > .inner {
                padding: 25px 15px 10px;

                > ul.sub-menu {
                    max-width: 100%;
                    @include display-flex;
                    -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;

                    > .menu-block-item {
                        margin-bottom: -20px;
                    }
                }

                .container {
                    width: auto;
                    padding: 0;
                }
            }

            li.menu-item {
                > a.has-preview {
                    display: inline-block;
                }
            }

            li.sub {
                padding: 0 10px 10px;

                > a {
                    font-size: 1em;
                    font-weight: 600;
                    padding-bottom: 5px;
                }

                ul.sub-menu {
                    padding-bottom: 5px;
                    ul.sub-menu {
                        padding-bottom: 0;
                    }
                }

                li.menu-item {
                    > a {
                        margin-#{$left}: -8px;
                        padding: 7px 8px;
                        font-size: .9em;
                        line-height: 20px;
                        font-weight: normal;
                    }

                    > ul.sub-menu {
                        padding-#{$left}: 10px;
                    }
                }
            }
        }
    }

    .narrow {
        ul.sub-menu {
            min-width: 200px;
            padding: 5px 0;
            box-shadow: $menu-narrow-box-shadow;
            border-top: 0 solid #ccc;
            z-index: 10;

            ul.sub-menu {
                position: absolute;
                #{$left}: 100%;
                display: none;
                opacity: 0;
            }

            li.menu-item:hover > ul.sub-menu {
                top: -5px;
            }
        }

        li.menu-item {
            > a {
                color: #fff;
                font-weight: 400;
                padding: 8px 18px;
                font-size: .9em;
                line-height: 18px;
                border-bottom: 1px solid rgba(255, 255, 255, .2);
                white-space: nowrap;
            }
            &:last-child {
                > a {
                    border-bottom-width: 0;
                }
            }
            &:hover > ul.sub-menu {
                opacity: 1;
                display: block;
            }
        }

        li.menu-item-has-children {
            > a {
                &:before {
                    /*content: if-ltr($fa-var-caret-right, $fa-var-caret-left);*/
                    content: if-ltr($fa-var-angle-right, $fa-var-angle-left);
                    float: $right;
                    margin-#{$right}: -1px;
                    font-family: "FontAwesome";
                    font-weight: normal;
                    opacity: .7;
                    transition: margin-#{$right} .2s;
                }

                .thumb-info-preview {
                    display: none;
                }
            }
            &:hover > a:before {
                margin-#{$right}: -7px;
            }
        }
        &.pos-left {
            .popup {
                #{$left}: 0px;
                #{$right}: auto;
            }

            ul.sub-menu {
                ul.sub-menu {
                    #{$left}: 100%;
                    #{$right}: auto;
                }
            }

            li.menu-item-has-children {
                > a:before {
                    content: $fa-var-angle-right;
                }
            }
            li.menu-item {
                > a {
                    > .thumb-info-preview {
                        #{$left}: 100%;
                        #{$right}: auto;
                        padding-#{$left}: 10px;
                        padding-#{$right}: 0;
                        @if $rtl == 1 {
                            transform: translate3d(30px,0,0);
                        } @else {
                            transform: translate3d(-30px,0,0);
                        }
                    }
                    &:hover {
                        > .thumb-info-preview {
                            transform: translate3d(0,0,0);
                        }
                    }
                }
            }
        }
        &.pos-right {
            .popup {
                #{$right}: 0px;
                #{$left}: auto;
            }

            ul.sub-menu {
                ul.sub-menu {
                    #{$right}: 100%;
                    #{$left}: auto;
                }
            }

            li.menu-item-has-children {
                > a {
                    &:before {
                        content: $fa-var-angle-left;
                    }
                }
            }
            li.menu-item {
                > a {
                    > .thumb-info-preview {
                        #{$left}: auto;
                        #{$right}: 100%;
                        padding-#{$left}: 0;
                        padding-#{$right}: 10px;
                        @if $rtl == 1 {
                            transform: translate3d(-30px,0,0);
                        } @else {
                            transform: translate3d(30px,0,0);
                        }
                    }
                    &:hover {
                        > .thumb-info-preview {
                            transform: translate3d(0,0,0);
                        }
                    }
                }
            }
        }
    }

    /* effect */
    .popup {
        top: -3000px;
        li.menu-item {
            > a {
                @include transition(transform .2s ease-out);
                @include transform(translate3d(0, -5px, 0));
            }
        }
    }
    > li.menu-item {
        .popup {
            @include transition(transform .2s ease-out);
            @include transform(translate3d(0, -5px, 0));
        }
        &.wide {
            .popup > .inner > ul.sub-menu > li.menu-item {
                > a {
                    @include transform(translate3d(0, 0, 0));
                }
            }
        }
    }
    > li.menu-item:hover {
        .popup {
            top: 100%;
            @include transform(translate3d(0, 0, 0));
        }
        li.menu-item {
            > a {
                @include transform(translate3d(0, 0, 0));
            }
        }
    }
    .narrow {
        ul.sub-menu ul.sub-menu {
            @if $rtl == 1 {
                @include animation(menuFadeInRight .2s ease-out);
            } @else {
                @include animation(menuFadeInLeft .2s ease-out);
            }
        }

        &.pos-left {
            ul.sub-menu ul.sub-menu {
                @include animation(menuFadeInLeft .2s ease-out);
            }
        }

        &.pos-right {
            ul.sub-menu ul.sub-menu {
                @include animation(menuFadeInRight .2s ease-out);
            }
        }
    }
}

.mega-menu.show-arrow {
    > li.has-sub {
        > a:after {
            display: inline-block;
            content: '\e81c';
            /*content: $fa-var-angle-down;*/
            font-family: "porto";
            font-weight: normal;
            /*font-size: .8333em;*/
            font-size: 1em;
            margin: side-values(0 0 0 5px);
            line-height: 1;
        }
    }
}

.mega-menu.menu-flat {
    li.menu-item {
        > a {
            > .thumb-info-preview {
                .thumb-info-wrapper {
                    border-radius: 0 !important;
                }
            }
        }
    }
    > li.menu-item {
        margin-#{$right}: 0;

        &.active,
        &:hover {
            > a {
                border-radius: 0 !important;
            }
        }

        &.has-sub {
            &:hover {
                > a {
                    border-radius: 0 !important;
                }
            }
        }
    }

    .popup {
        margin: 0;
    }

    .wide {
        .popup, .popup > .inner, .popup li.menu-item li.menu-item > a {
            border-radius: 0 !important;
        }
    }

    .narrow {
        .popup > .inner > ul.sub-menu, ul.sub-menu ul.sub-menu {
            border-radius: 0 !important;
        }
    }
}

.mega-menu.menu-flat-border {
    > li.menu-item {
        > a {
            border-#{$right}: 1px solid rgba(0, 0, 0, .1);
        }

        &:last-child {
            > a {
                border-#{$right}: 0 none;
            }
        }
    }
}

.mega-menu.menu-hover-line {
    > li.menu-item {
        > a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            top: 0;
            left: 0;
            opacity: 0;
        }
    }
    &:not(:hover) > li.menu-item.active,
    > li.menu-item:hover {
        > a:before {
            opacity: 1;
        }
    }
}
.mega-menu.menu-hover-underline {
    > li.menu-item > a:before {
        top: 50%;
        margin-top: 15px;
        width: auto;
    }
}