body {
    font-family: 'Proxima Nova', 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f0f3f5;
    color: #798ca7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Proxima Nova', 'Roboto', "Helvetica Neue", Helvetica, Arial, serif;
    font-weight: 600;
    color: #3a3a3a;
}
h2,
.h2 {
    font-size: 24px;
    font-weight: 400;
    color: #115cd0;
    line-height: 1.3;
}
h3,
.h3 {
    font-size: 18px;
    font-weight: 400;
    color: #0d47a1;
    line-height: 1.3;
}
body {
    position: relative;
}
a {
    color: #2196f3;
    text-decoration: none;
    outline: none !important;
}
a:focus,
a:hover {} 
ul.info {
    font-size: 12px;
    margin-top: 10px;
    color: #42a5f5;
}
.bs-docs-section li{
    margin-bottom: 5px; 
}
.container .jumbotron, .container-fluid .jumbotron {
    background: #6863ce;
    color: #fff;
    -web-kit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

}
.jumbotron p {
    font-weight: 100;
}
.jumbotron a {
    font-weight: 400;
    color: #fff;
}
.bs-docs-sidebar.affix {
    position: static;
}
.bs-docs-sidebar.affix {
    position: fixed;
}
.page-header {
    margin: 20px 0;
    padding-top: 20px;
    font-size: 35px;
    line-height: 1.1;
    border: 0;
    color: #637283;
    font-weight: 300;
}
.text-link {
    background-color: transparent;
    color: #637283;
    font-family: 'Proxima Nova', 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: inherit;
    padding: 0;
    font-weight: 400;
}
.text-emphasis {
    font-weight: bold;
}
.emphasis {
    color: #3a3a3a;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
}
.text-info {
    color: #1e1e1e;
}
.bs-docs-nav .navbar-brand {
    font-size: 1em;
    font-weight: 300;
}
.bs-docs-nav {
    margin-bottom: 0;
    border-bottom: 0;
}
.bs-docs-nav .navbar-nav>li>a {
    font-weight: 500;
}
.bs-docs-nav .navbar-nav>li>a:hover {
    color: #463265;
    background-color: #f9f9f9;
}
.bs-docs-nav .navbar-toggle .icon-bar {
    background-color: #563d7c;
}
.bs-docs-nav .navbar-header .navbar-toggle {
    border-color: #fff;
}
.bs-docs-nav .navbar-header .navbar-toggle:hover,
.bs-docs-nav .navbar-header .navbar-toggle:focus {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}
.bs-docs-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.bs-docs-footer-links {
    margin-top: 20px;
    padding-left: 0;
    color: #999;
}
.bs-docs-footer-links li {
    display: inline;
    padding: 0 2px;
}
.bs-docs-footer-links li:first-child {
    padding-left: 0;
}
.bs-docs-social {
    margin-bottom: 20px;
    text-align: center;
}
.bs-docs-social-buttons {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.bs-docs-social-buttons li {
    display: inline-block;
    line-height: 1;
    padding: 5px 8px;
}
.bs-docs-social-buttons .twitter-follow-button {
    width: 225px!important;
}
.bs-docs-social-buttons .twitter-share-button {
    width: 98px!important;
}
.github-btn {
    border: 0;
    overflow: hidden;
}
.bs-docs-header {
    position: relative;
    color: #aaa;
    text-align: center;
}
 
.bs-docs-header {
    margin-bottom: 40px;
    font-size: 20px;
}
.bs-docs-header h1 {
    margin-top: 0;
    color: #0d47a1;
}
.bs-docs-header p {
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.4;
    color: #42a5f5;
}
.bs-docs-header .container {
    position: relative;
}
.bs-docs-sidebar.affix {
    position: static;
}
.bs-docs-sidenav {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.3);
    padding: 10px 30px;
    background: #fff;   
}
/*.bs-docs-sidebar .nav > li {
    background: none repeat scroll 0 0 #fff;
}*/
.bs-docs-sidebar .nav>li>a {
    color: #798ca7;
    display: block;
    font-size: 15px;
    font-weight: 400;
    margin: 0px 0 1px 0;
    padding: 10px;
    }
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    padding-right: 19px;
    color: #7fc146;
    text-decoration: none;
    background-color: transparent;
    border-right: 1px solid #7fc146;
}
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    padding-right: 18px;
    font-weight: 700;
    color: #0d47a1;
    background-color: transparent;
    border-right: 1px solid #0d47a1;
}
.bs-docs-sidebar .nav .nav {
    display: none;
    padding-bottom: 10px;
    padding-left: 10px;
}
.bs-docs-sidebar .nav .nav>li>a {
    font-size: 12px;
    font-weight: 400;
}
.bs-docs-sidebar .nav .nav>li>a:hover,
.bs-docs-sidebar .nav .nav>li>a:focus {
    padding-right: 29px;
}
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}
.back-to-top {
    display: none;
    margin-top: 10px;
    margin-right: 10px;
    padding: 4px 10px 4px 0;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
.back-to-top:hover {
    text-decoration: none;
}
.bs-docs-section {
    margin-bottom: 60px;
    font-size: 15px;
    line-height: 1.3;
    font-weight: 300;
}
.bs-docs-section:last-child {
    margin-bottom: 0;
}
h1[id] {
    margin-top: 0;
    padding-top: 20px;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    -web-kit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    background-color: #fff;
    -web-kit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.bs-callout-danger {
    background-color: #ff52aa;
    color: #fafafa;
    border: 0;
}
.bs-callout-danger h4,
.bs-callout-danger h5 {
    color: #fff;
}
.bs-callout-warning {
    background-color: #f39c12;
    color: #fafafa;
    border: 0;
}
.bs-callout-warning h4 {
    color: #fff;
}
.bs-callout-info {
    background-color: #03a9f4;
    color: #fafafa;
    border: 0;
}
.bs-callout-info h4 {
    color: #3498db;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    color: inherit;
}
code,
pre {
    background-color: rgba(0, 0, 0, .05);
    -web-kit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
}
pre {
    white-space: pre;
    word-wrap: normal;
    overflow: auto !important;
    padding: 13px 17px;
    font-size: 14px;
}

@media (min-width: 768px) {
    .bs-docs-footer p {
        margin-bottom: 0;
    }
    header .navbar-collapse.collapse {
        display: none !important;
    }
    .bs-docs-header {
        font-size: 1em;
        text-align: left;
    }
    .bs-docs-header h1 {
        font-size: 40px;
        line-height: 1;
    }
    .bs-docs-sidebar {
        padding-right: 20px;
    }
    .back-to-top {
        display: block;
    }
}
@media (min-width: 992px) {
    .bs-docs-sidebar .nav>.active>ul {
        display: block;
    }
    .bs-docs-sidebar.affix,
    .bs-docs-sidebar.affix-bottom {
        width: 213px;
    }
    .bs-docs-sidebar.affix {
        position: fixed;
        top: 20px;
    }
    .bs-docs-sidebar.affix-bottom {
        position: absolute;
    }
    .bs-docs-sidebar.affix-bottom .bs-docs-sidenav,
    .bs-docs-sidebar.affix .bs-docs-sidenav {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (min-width: 1200px) {
    .bs-docs-sidebar.affix-bottom,
    .bs-docs-sidebar.affix {
        width: 263px;
    }
}