
.add-links .add_to_cart_read_more,
.add-links .add_to_cart_button,
.yith-wcwl-add-to-wishlist a,
.yith-wcwl-add-to-wishlist span,
.add-links .quickview {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: inherit;
    height: 32px;
    line-height: 32px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    text-shadow: none;
    @include transition($transition);

    &:before {
        display: inline-block;
        font-family: "FontAwesome";
    }
}

.add-links {
    .add_to_cart_button,
    .add_to_cart_read_more {
        background: transparent;
        padding: 0 .7143em;
        line-height: 32px;
        font-size: 12.5px;
        text-transform: uppercase;
        z-index: 1;
        white-space: nowrap;
        text-shadow: none;

        &:before {
            font-family: "porto";
            content: "\e87f";
            margin-#{$right}: 5px;
            font-size: 17px;
            vertical-align: middle;
        }

        ul.products li.product:hover & {
            color: #fff;
        }
    }

    .add_to_cart_button {
        &:before {
            font-family: "FontAwesome";
            content: $fa-var-check-square-o;
        }

        &.product_type_simple {
            &:before {
                font-family: "Porto";
                content: "\e87f";
            }
        }

        &.loading.viewcart-style-1:after {
            opacity: .5;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            content: "";
        }
    }

    .add_to_cart_read_more {
        &:before {
            font-family: FontAwesome;
            content: $fa-var-sign-in;
        }
    }

    .add_to_cart_button,
    .add_to_cart_read_more,
    .yith-wcwl-add-to-wishlist a,
    .yith-wcwl-add-to-wishlist span,
    .quickview {
        height: 34px;
        line-height: 34px;
    }
}

.yith-wcwl-add-to-wishlist {
    margin-top: 0;
    line-height: 1;
    vertical-align: top;

    > div {
        @include transition($transition);
    }

    a,
    span {
        width: 32px;
        padding: 0;
        border: 1px solid #d8d8d6;
        color: #302e2a;
        text-indent: -9999em;
        background: transparent;

        &:before {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            text-indent: 0;
            font-size: 1.1em;
        }
    }

    .yith-wcwl-add-button {
        a,
        span:not(.ajax-loading) {
            &:before {
                content: $fa-var-heart-o;
            }
        }
    }

    .yith-wcwl-wishlistaddedbrowse,
    .yith-wcwl-wishlistexistsbrowse {
        a:before {
            content: $fa-var-heart;
        }
    }

    .feedback {
        display: none !important;
    }

    span.ajax-loading {
        background: url(../images/ajax-loader@2x.gif) no-repeat scroll center center / 1.1em 1.1em;
        display: inline-block !important;
        position: absolute;
        /*border: 1px solid #ed4949;*/
        border: none;
        top: 0;
        #{$left}: 0;
        padding: 0 !important;
        width: 32px !important;
        height: 34px !important;
        z-index: 10;
        margin: 0 !important;
        opacity: .5;
        &:hover {
            background-color: #ed4949;
        }
        .product-summary-wrap & {
            position: absolute !important;
            pointer-events: none !important;
            height: 43px !important;
            width: 43px !important;
        }
    }

    + .clear {
        display: none;
    }
}

.add-links .quickview {
    position: relative;
    width: 32px;
    padding: 0;
    border: 1px solid #d8d8d6;
    background: transparent;
    color: #302e2a;
    text-indent: -9999em;

    &:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        text-indent: 0;
        font-size: 1.1em;
        content: $fa-var-external-link;
    }

    &.loading:after {
        opacity: .5;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: "";
    }
}