body.woocommerce-page #main:not(.wide) {
    .main-content-wrap.row {
        margin-left: -12px;
        margin-right: -12px;
    }
    .sidebar, .main-content {
        padding-left: 12px;
        padding-right: 12px;
    }
}

.category-image {
    width: 100%;
    margin-bottom: 20px;

}

.products ul,
ul.products {
    margin: 0 0 1em;
    padding: 0;
    list-style: none outside;

    li {
        list-style:none outside;
    }
}

.products ul {
    @include clearfix;
}

ul.products {
    &:not(.owl-carousel) {
        display: -webkit-flex; display: -ms-flexbox; display: flex;
        -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;
    }
    li.product-col {
        margin-bottom: 1.4286em;
        position: relative;
        text-align: center;
        flex: 0 0 100%;
        width: 100%;

        .product-image {
            margin-bottom: 1em;
            min-height: 90px;

            /*.img-effect {
                img {
                    position: relative;
                    left: 0;
                }

                .hover-image {
                    margin-right: -100%;
                }
            }

            &:hover {
                .img-effect {
                    img {
                        left: -100%;
                    }
                }
            }*/
            .img-effect {
                img {
                    position: relative;
                    opacity: 1;
                    /*-webkit-backface-visibility: hidden;*/
                    transform: translateZ(0);
                }

                .hover-image {
                    position: absolute;
                    left: 0; right: 0; top: 0; bottom: 0;
                    margin: auto;
                    opacity: 0;
                }
            }

            &:hover {
                .img-effect {
                    img {
                        opacity: 0;
                    }
                    .hover-image {
                        opacity: 1;
                    }
                }
            }
        }

        .product-loop-title {
            font-size: 1em;
            text-decoration: none;
        }

        h3 {
            font-size: 1em;
            line-height: 1.35;
            margin-bottom: .7143em;
        }

        .rating-wrap {
            margin: 0 auto 1.2em;
            height: 1px;
            position: relative;
            display: table;

            .rating-content {
                display: table-cell;
                padding: 0 5px;
            }
        }

        .description {
            display: none;
            margin-top: 1.5em;

            p {
                margin-bottom: 1em;
                line-height: 1.5714em;
            }
        }

        .price {
            display: block;
            font-size: 1.4286em;
            margin-top: -0.25em;
            margin-bottom: .75em;
        }

        .add_to_cart_button { font-weight: 400; }

        .add-links {
            display: inline-block;
            position: relative;
            margin-bottom: 1.0714em;

            .tooltip-inner {
                white-space: nowrap;
            }

            .add_to_cart_read_more,
            .add_to_cart_button {
                @include transition(none);
            }

            .added_to_cart {
                display: none;
            }

            .yith-wcwl-add-to-wishlist > div {
                #{$left}: 0;
            }

            .quickview {
                #{$right}: 0;
            }

            .yith-wcwl-add-to-wishlist > div,
            .quickview {
                position: absolute;
                top: 0;
                opacity: 0;
                visibility: hidden;
            }
            div.quantity {
                margin-bottom: 5px;
            }
        }

        .links-on-image {
            height: 0;

            .add-links-wrap {
                display: none;
            }

            .add-links-wrap .add-links {
                font-size: 1em;
                display: block;
                text-align: $left;
                position: static;
                margin-bottom: 0;

                > * {
                    position: relative;
                    z-index: 2;
                    display: none;
                    opacity: 0;
                }

                .add_to_cart_button,
                .add_to_cart_read_more,
                .yith-wcwl-add-to-wishlist > div,
                .quickview {
                    background: transparent;
                    margin-top: -42px;
                }

                .add_to_cart_button,
                .add_to_cart_read_more {
                    float: $left;
                    margin-#{$left}: .8em;
                    text-indent: -9999em;
                    width: 2.2em;
                    padding: 0;
                    @include transition($transition);

                    &:before {
                        position: absolute;
                        left: 0;
                        right: 0;
                        text-indent: 0;
                        font-size: 1.1em;
                        margin-#{$right}: auto;
                    }

                    &:hover {
                        color: #fff;
                    }
                }

                .yith-wcwl-add-to-wishlist {
                    float: $right;
                    margin-#{$right}: .8em;
                    position: relative;
                    margin-bottom: -3px;

                    > div {
                        display: inline-block;
                        position: relative;
                        opacity: 0;
                        @include transition($transition);
                        visibility: visible;
                        #{$left}: auto;
                        top: auto;
                    }
                }

                .quickview {
                    font-size: .9em;
                    position: absolute;
                    top: 0;
                    #{$right}: 0;
                    #{$left}: auto !important;
                    width: auto;
                    height: auto;
                    line-height: 1;
                    margin: 0;
                    padding: .7937em;
                    text-indent: 0;
                    background: #52b9b5;
                    color: #fff;
                    @include transition($transition);
                    visibility: visible;

                    &:before {
                        position: static;
                        margin-#{$right}: .5714em;
                    }
                }
            }
        }

        .variations {
            .label,
            .reset_variations {
                display: none !important;
            }
            td {
                padding: 0 0 5px;
            }
            tr {
                border-bottom: none;
            }
            .filter-item-list {
                display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex;
                margin-top: -4px;
                margin-bottom: 0;
            }
        }

        .variations_form {
            margin-top: -5px;
            margin-bottom: 5px;
        }

        &.show-links-onimage {
            .add-links-wrap {
                display: none;
            }
            .links-on-image {
                .add-links-wrap {
                    display: block;
                }
            }
        }

        &.show-wq-onimage {
            .add-links {
                .yith-wcwl-add-to-wishlist,
                .quickview {
                    display: none;
                }
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: 0 !important; width: auto !important; padding: 0 .7143em !important;
                    &:before {
                        position: static !important;
                        font-size: 1em !important;
                        margin-#{$right}: .5714em !important;
                    }
                }
            }
            .links-on-image {
                .add-links-wrap {
                    display: block;

                    .add-links > * {
                        visibility: hidden;

                        &.quickview {
                            visibility: visible;
                        }
                    }
                }
            }
        }

        &.show-outimage-q-onimage-alt{
            margin-bottom: 15px;
            padding-bottom: 15px;
            > div { background-color: #fff; }
            &:hover > div { box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.2); }
            .product-image{
                .labels{
                    position: absolute;
                    .onhot, .onsale{
                        position: relative;
                        margin-bottom: 5px;
                        font-size: 11px;
                        #{$left}: 0.8em;
                    }
                }
                .links-on-image{
                    .add-links-wrap{
                        display: block;
                        .add-links{
                            a{ display: none; }
                            .quickview{
                                display: block;
                                font-size: 12px;
                                border: 0px;
                                &:hover{ opacity: 0.9; }
                                &:before{
                                    font-family: "Porto";
                                    content: "\e851";
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
            .product-loop-title,
            .product-loop-title > *{ 
                font-weight: $font-weight-normal;
                font-size: 14px;
            }
            .product-loop-title{
                color: #5b5b5f;
                &:hover,
                &:focus,
                &:active{
                    color: #5b5b5f;
                    > *{
                        color: #5b5b5f;
                    }
                }
            }
            .rating-wrap{
                margin-bottom: 0.2em;
                margin-top: 20px;
                .star-rating{
                    font-size: 11px;
                    &:before{ color: #c3c5c9; }
                }
            }
            .price{
                margin-top: 0.5em;
                margin-bottom: 0.75em;
                font-size: 18px;
                font-weight: $font-weight-normal;
                ins{ color: #ff0000; }
                del{ color: #2b2b2d; }
            }
            .add_to_cart_button,
            .add_to_cart_read_more{
                padding: side-values(0 10px 0 9px) !important;
                font-size: 12.5px;
                color: #6f6e6b;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                height: 32px;
                line-height: 32px;
                border-color: #f4f4f4;
                font-weight: 400;
                &.product_type_simple:before{
                    font-family: "porto" !important;
                    content: "\e87f";
                    margin-#{$right}: 5px !important;
                    font-size: 17px !important;
                    vertical-align: top;
                }
            }
            .add-links .quickview{ display: none; }
            .yith-wcwl-add-to-wishlist{
                a{
                    line-height: 32px;
                    height: 32px;
                    width: 32px;
                }
                span.ajax-loading{
                    &:hover{
                        background-color: #f4f4f4;
                    }
                }
                .yith-wcwl-add-button{
                    a,
                    span:not(.ajax-loading){
                        &:before{
                            content: "\e889";
                            font-family: "porto";
                            font-size: 17px;
                        }
                    }
                }
                .yith-wcwl-wishlistaddedbrowse,
                .yith-wcwl-wishlistexistsbrowse{
                    a:before{
                        font-family: "porto";
                        content: '\e88a';
                        font-size: 17px;
                    }
                }
            }
        }
        
        &.show-outimage-q-onimage{
            .product-image{
                border-color: #ececec;
                @include transition(all 0.3s);
            }
            .add-links{
                .quickview{
                    display: none;
                }
            }
            .links-on-image{
                .add-links-wrap{
                    display: block;
                    
                    .add-links {
                        > *,
                        .yith-wcwl-add-to-wishlist > div{
                            visibility: hidden;
                        }
                        .quickview{
                            top: auto;
                            bottom: 0;
                            border: 0;
                            width: 100%;
                            line-height: 25px;
                            text-transform: uppercase;
                            font-family: "Oswald", "Open Sans", Arial, serif;
                            letter-spacing: 0.025em;
                            &:hover{
                                opacity: 0.9 !important;
                                text-decoration: underline;
                            }
                            &:before{
                                content: '';
                            }
                        }
                    }
                }
            }
            .product-loop-title, .product-loop-title > *{ font-weight: 400; font-size: 15px; }
            .rating-wrap{
                margin-bottom: 0.2em;
                margin-top: 20px;
                .star-rating {
                    font-size: 11px;
                    &:before {
                        color: #797876;
                    }
                }
            }
            .price{
                margin-top: 0.5em;
                margin-bottom: 1.25em;
            }
            .add_to_cart_button,
            .add_to_cart_read_more{
                padding: side-values(0 10px 0 9px) !important;
                font-size: 12.5px;
                color: #6f6e6b;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                height: 32px;
                line-height: 32px;
                background: transparent;
                border-color: #d8d8d6;
                &.product_type_simple:before{
                    font-family: "porto" !important;
                    content: "\e87f";
                    margin-#{$right}: 5px !important;
                    font-size: 17px !important;
                    vertical-align: top;
                }
            }
            .yith-wcwl-add-to-wishlist{
                a{
                    line-height: 32px;
                    height: 32px;
                }
                .yith-wcwl-add-button{
                    a,
                    span:not(.ajax-loading){
                        &:before{
                            content: "\e889";
                            font-family: "porto";
                            font-size: 17px;
                        }
                    }
                }
                .yith-wcwl-wishlistaddedbrowse,
                .yith-wcwl-wishlistexistsbrowse{
                    a:before{
                        font-family: "porto";
                        content: '\e811';
                    }
                }
            }
        }
    }
    .variations { width: 100%; }
}
ul.products {
    li.product-col {
        &:hover{
            &.show-outimage-q-onimage {
                .links-on-image {
                    .add-links-wrap {
                        .add-links {
                            > *.quickview {
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
}
ul.products.grid {
    li.product-col {
        &.show-outimage-q-onimage {
            &:hover{
                .product-image {
                    box-shadow: 0 25px 35px -5px rgba(0, 0, 0, 0.2);
                }
            }
            .links-on-image {
                .add-links-wrap {
                    .add-links {
                        > *.quickview {
                            visibility: visible;
                        }
                    }
                }
            }
            .add-links {
                .quickview {
                    display: none;
                }
            }
        }
    }
}
ul.products.list {
    li.product-col {
        &.show-outimage-q-onimage-alt {
            .product-image .links-on-image .add-links-wrap .add-links .quickview { display: none; }
            .product-loop-title{
                font-size: 18px; color: #666;
                > * {
                    font-size: 18px; color: #666;
                    margin-bottom: 10px;
                }
            }
            .rating-wrap { margin-bottom: 22px; margin-top: 12px; }
            .add-links {
                .quickview {
                    display: inline-block;
                    line-height: 32px;
                    height: 32px;
                    
                    &:hover {
                        background: transparent;
                        opacity: 0.8;
                    }
                    
                    &:before {
                        font-family: "Porto";
                        content: "\e812";
                        font-size: 17px;
                    }
                }
            }
            &:hover > div { box-shadow: none; }
        }
        &.show-outimage-q-onimage{
            .product-loop-title > * {
                font-size: 18px;
                color: #666;
                line-height: 18px;
            }
            .rating-wrap {
                margin-top: 10px;
                margin-bottom: 22px !important;
            }
            .price {
                margin-bottom: 0.75em;
            }
            .links-on-image {
                .add-links-wrap {
                    .add-links {
                        > *.quickview {
                            visibility: hidden;
                        }
                    }
                }
            }
            .add-links {
                .quickview {
                    display: inline-block;
                    line-height: 32px;
                    height: 32px;
                    border-color: #d8d8d6;
                    
                    &:hover {
                        background: transparent;
                    }
                    
                    &:before {
                        font-family: "Porto";
                        content: "\e812";
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

ul.products {

    li.product.hover,
    li.product:hover {
        .add-links {
            .yith-wcwl-add-to-wishlist > div {
                #{$left}: -37px;
            }
            .quickview {
                #{$right}: -37px;
            }
            .yith-wcwl-add-to-wishlist > div,
            .quickview {
                opacity: 1;
                visibility: visible;
            }
            &.no-effect {
                .add_to_cart_read_more,
                .add_to_cart_button {
                    text-indent: 0; width: auto; padding: 0 0.7143em;
                    &:before {
                        position: static;
                        font-size: 1em;
                        margin-#{$right}: 0.5714em;
                    }
                }
            }
        }

        .links-on-image {
            .add-links-wrap .add-links {
                .add_to_cart_button,
                .add_to_cart_read_more,
                .yith-wcwl-add-to-wishlist,
                .yith-wcwl-add-to-wishlist > div {
                    display: inline-block;
                    opacity: 1;
                }
            }
        }
    }

    li.product:hover {
        .product-image {
            .viewcart.added {
                display: block;
                opacity: 1;
            }
        }
        .links-on-image {
            .add-links-wrap .add-links {
                .quickview {
                    display: inline-block;
                    opacity: 1;
                }
            }
        }
    }
}

ul {
    &.pcols-lg-8 {
        margin: 0 -3px;
        li.product-col {
            max-width: 12.5%; flex: 0 0 12.5%; padding: 0 3px;
            .add-links { display: none; }
        }
    }
    &.pwidth-lg-8 {
        .product-image { font-size: .8em; }
        .add-links { font-size: .85em; }
    }

    &.pcols-lg-7 {
        margin: 0 -3px;
        li.product-col {
            max-width: 14.2857%; flex: 0 0 14.2857%; padding: 0 3px;
            .add-links { display: none; }
        }
    }
    &.pwidth-lg-7 {
        .product-image { font-size: .8em; }
        .add-links { font-size: .9em; }
    }

    &.pcols-lg-6 {
        margin: 0 -6px;
        li.product-col { max-width: 16.6666%; flex: 0 0 16.6666%; padding: 0 6px; }
    }
    &.pwidth-lg-6 {
        .product-image { font-size: .9em; }
        .add-links { font-size: 1em; }
    }

    &.pcols-lg-5 {
        margin: 0 -8px;
        li.product-col {
            max-width: 20%; flex: 0 0 20%; padding: 0 8px;
            /*&.show-outimage-q-onimage-alt{
                padding: 0 10px 10px;
                margin: 0 12px 15px;
            }*/
        }
        
    }
    &.pwidth-lg-5 {
        .product-image { font-size: 1em; }
        .add-links { font-size: 1em; }
    }

    &.pcols-lg-4 {
        margin: 0 -10px;
        li.product-col { max-width: 25%; flex: 0 0 25%; padding: 0 10px; }
    }
    &.pwidth-lg-4 {
        .product-image { font-size: 1em; }
        .add-links { font-size: 1em; }
    }

    &.pcols-lg-3 {
        margin: 0 -12px;
        li.product-col { max-width: 33.3333%; flex: 0 0 33.3333%; padding: 0 12px; }
    }
    &.pwidth-lg-3 {
        .product-image { font-size: 1.2em; }
        .add-links { font-size: 1em; }
    }

    &.pcols-lg-2 {
        margin: 0 -15px;
        li.product-col { max-width: 50%; flex: 0 0 50%; padding: 0 15px; }
    }
    &.pwidth-lg-2 {
        .product-image { font-size: 1.5em; }
        .add-links { font-size: 1em; }
    }
}

@media (min-width: 992px) {
    .column2 ul {
        &.pcols-lg-6 {
            margin: 0 -3px;
            li.product-col { padding: 0 3px; }
        }
        &.pwidth-lg-6 {
            .product-image { font-size: .75em; }
            .add-links { font-size: .8em; }
        }

        &.pcols-lg-5 {
            margin: 0 -5px;
            li.product-col { padding: 0 5px; }
        }
        &.pwidth-lg-5 {
            .product-image { font-size: .8em; }
            .add-links { font-size: .9em; }
        }

        &.pcols-lg-4 {
            margin: 0 -7px;
            li.product-col { padding: 0 7px; }
        }
        &.pwidth-lg-4 {
            .product-image { font-size: .9em; }
            .add-links { font-size: .95em; }
        }

        &.pcols-lg-3 {
            margin: 0 -9px;
            li.product-col { padding: 0 9px; }
        }
        &.pwidth-lg-3 {
            .product-image { font-size: 1em; }
            .add-links { font-size: 1em; }
        }

        &.pcols-lg-2 {
            margin: 0 -12px;
            li.product-col { padding: 0 12px; }
        }
        &.pwidth-lg-2 {
            .product-image { font-size: 1.2em; }
        }
    }
}

ul {
    @media #{$screen-medium} {
        &.pcols-xs-3 {
            margin: 0 -3px;
            li.product-col { max-width: 33.3333%; flex: 0 0 33.3333%; padding: 0 3px; }
        }
        &.pwidth-xs-3 {
            .product-image { font-size: .85em; }
            .add-links { font-size: .85em; }
        }

        &.pcols-xs-2 {
            margin: 0 -6px;
            li.product-col { max-width: 50%; flex: 0 0 50%; padding: 0 6px; }
        }
        &.pwidth-xs-2 {
            .product-image { font-size: 1em; }
            .add-links { font-size: 1em; }
        }

        &.pcols-xs-1 {
            margin: 0;
            li.product-col{ max-width: none; flex: 0 0 100%; padding: 0; }
        }
        &.pwidth-xs-1 {
            .product-image { font-size: 1.2em; }
            .add-links { font-size: 1em; }
        }
    }

    @media #{$screen-small} {
        &.pcols-ls-2 {
            margin: 0 -3px;
            li.product-col { max-width: 50%; flex: 0 0 50%; padding: 0 3px; }
        }
        &.pwidth-ls-2 {
            .product-image { font-size: .8em; }
            .add-links { font-size: .85em; }
        }

        &.pcols-ls-1 {
            margin: 0;
            li.product-col { max-width: none; flex: 0 0 100%; padding: 0; }
        }
        &.pwidth-ls-1 {
            .product-image { font-size: 1.1em; }
            .add-links { font-size: 1em; }
        }
    }
}

ul, .column2 ul {
    @media (min-width: 1400px) {
        &.pcols-xl-8 {
            margin: 0 -4px;
            li.product-col {
                max-width: 12.5%; flex: 0 0 12.5%; padding: 0 4px;
                .add-links { display: none; }
            }
        }
        &.pcols-xl-7 {
            margin: 0 -5px;
            li.product-col {
                max-width: 14.2857%; flex: 0 0 14.2857%; padding: 0 5px;
                .add-links { display: none; }
            }
        }
    }
}

ul.list,
.column2 ul.list {

    &.products {
        margin: 0;
    }

    li.product {
        .description {
            display: block;
        }

        .product-image {
            float: $left;
            padding-#{$left}: 0 !important;
            margin-bottom: 0;
        }

        h3 {
            font-size: 1.2857em;
            font-weight: $font-weight-semibold;
            margin-top: .3em;
        }

        .rating-wrap {
            display: block;
            margin-bottom: 2em;
            margin-top: 0.5em;

            .star-rating {
                margin-#{$left}: 0;
            }

            .star-rating,
            .star-rating span {
                &:before {
                    #{$left}: 0em;
                }
            }

            .rating-content { padding-left: 0; padding-right: 0; }
        }

        .price {
            margin-top: 0;
        }

        .add-links {
            display: inline;
            .yith-wcwl-add-to-wishlist > div,
            .quickview {
                position: relative;
                #{$left}: 0 !important;
                opacity: 1;
                visibility: visible;
            }
            > * {
                margin-bottom: 5px;
            }
        }

        .add_to_cart_button,
        .add_to_cart_read_more {
            margin-#{$right}: .8em;
            color: #fff;
        }

        .yith-wcwl-add-to-wishlist {
            display: inline-block;
            margin-#{$right}: .2143em;
        }
    }

    .add-links { font-size: 1em; }
}

ul.list {
    li.product .product-inner {
        > * {
            display: block;
        }
        > script,
        > style {
            display: none;
        }
    }
    &.pcols-lg-8 {
        li.product {
            .product-inner > * {
                padding-#{$left}: 14%;
            }
            .product-image { width: 12.5%; font-size: .75em; }
        }
    }

    &.pcols-lg-7 {
        li.product {
            .product-inner > * {
                padding-#{$left}: 16%;
            }
            .product-image { width: 14.5%; font-size: .8em; }
        }
    }

    &.pcols-lg-6 {
        li.product {
            .product-inner > * {
                padding-#{$left}: 18.5%;
            }
            .product-image { width: 17%; font-size: .85em; }
        }
    }

    &.pcols-lg-5,
    &.pcols-lg-4,
    &.pcols-lg-3,
    &.pcols-lg-2 {
        li.product {
            .product-inner > * {
                padding-#{$left}: 21.5%;
            }
            .product-image { width: 20%; font-size: 1em; }
            &.show-outimage-q-onimage-alt{
                > * { padding-#{$left}: 0; }
            }
        }
    }
}

@media (min-width: 992px) {
    .column2 ul.list {
        &.pcols-lg-6 {
            li.product {
                .product-inner > * {
                    padding-#{$left}: 18.5%;
                }
                .product-image { width: 17%; font-size: .8em; }
            }
        }

        &.pcols-lg-5,
        &.pcols-lg-4,
        &.pcols-lg-3,
        &.pcols-lg-2 {
            li.product {
                .product-inner > * {
                    padding-#{$left}: 22.5%;
                }
                .product-image { width: 20%; font-size: .9em; }
                &.show-outimage-q-onimage-alt {
                    .product-inner > * { display: block; }
                    > * { padding-#{$left}: 0; }
                }
            }
        }
    }
}

ul.list {
    @media #{$screen-medium} {
        &.pcols-xs-3,
        &.pcols-xs-2,
        &.pcols-xs-1 {
            li.product {
                .product-inner > * {
                    padding-#{$left}: 0;
                }
                .product-image {
                    width: 30%;
                    margin-#{$right}: 18px;
                    font-size: .8em;
                }
            }
        }
    }

    @media #{$screen-small} {
        &.pcols-ls-2,
        &.pcols-ls-1 {
            li.product {
                .product-image {
                    width: 40%;
                    margin-#{$right}: 15px;
                    font-size: .75em;
                }
            }
        }
    }
}

ul.products.list,
.column2 ul.products.list {
    li.product-category {
        img {
            width: 100%;
            font-size: 1em;
        }
    }
}

ul.products,
.column2 ul.products {
    li.product-category {
        a {
            text-decoration: none;
        }
        .thumb-info {
            min-height: 90px;
            margin-bottom: 0;
            text-align: $left;

            h3 {
                font-weight: inherit;
                font-size: 1em;
                font-weight: inherit;
                color: inherit;
                line-height: inherit;
                margin: 0;
                padding: 0;
                text-transform: uppercase;
            }
        }

        mark {
            padding: 0;
            background: transparent;
            color: inherit;
        }
    }
}

.porto-products.hide-count {
    li.product-category {
        .thumb-info-wrap {
            bottom: 10%;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            h3 {
                line-height: 1;
            }
        }

        .thumb-info-title {
            position: static;
            display: inline-block;
            padding: 9px 12px;
        }

        .thumb-info-type {
            display: none;
        }
    }
}
.porto-products.show-category {
    display: -webkit-flex; display: -ms-flexbox; display: flex;
    -ms-flex-wrap: wrap; flex-wrap: wrap;
    /*@media (max-width: 767px) {
        -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;
    }*/
    .slider-title { flex: 0 0 100%; }
    .shop-loop-before { display: none !important; }
    .products-filter {
        &, + div {
            flex: 0 0 100%;
        }
        @media (min-width: 768px) {
            max-width: 16.6666%;
            flex: 0 0 16.6666%;
            border-#{$right}: 1px solid #dcdcdc;
            padding-left: 15px;
            padding-right: 15px;
            + div {
                max-width: 83.3333%;
                flex: 0 0 83.3333%;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .product-categories {
        list-style: none;
        padding-left: 0;
        @media (max-width: 767px) {
            li { display: inline-block; margin-#{$right}: 20px; }
        }
        a {
            display: block;
            position: relative;
            padding: side-values(12px 0 12px 20px);
            &:before {
                content: "\f87a";
                font-family: "porto";
                margin-#{$right}: 10px;
                width: 11px;
                position: absolute;
                #{$left}: 0;
            }
            &:hover {
                text-decoration: none;
            }
        }
        .current a:before {
            content: "\f87b";
        }
    }
}

ul.products,
.column2 ul.products {
    &.owl-loaded {
        li.product-col {
            max-width: none;
            /*&.show-outimage-q-onimage-alt{
                width: calc(100% - 20px);
            }*/
        }
    }
}

ul.products {
    &.product_list_widget {
        .product {
            float: none;
            text-align: $left;
            padding-#{$left}: 0;

            .product-image {
                margin-#{$left}: 0;
                margin-#{$right}: 15px;
                min-height: 0;
            }

            .rating-wrap {
                display: block;
                margin: -8px 0 6px;
                height: auto;
            }
        }

        .add-links {
            font-size: .8571em;
            .add_to_cart_button,
            .add_to_cart_read_more {
                text-indent: 0 !important;
                &:before {
                    display: none;
                }
            }

            .tooltip {
                display: none !important;
            }
        }

        .labels,
        .description,
        .yith-wcwl-add-to-wishlist,
        .add-links .quickview {
            display: none;
        }

        .rating-wrap {
            .star-rating {
                margin-#{$left}: 0 !important;
                font-size: 1em;

                &:before,
                span:before {
                    #{$left}: 0 !important;
                }
            }
        }

    li.product .rating-wrap .rating-content { padding-left: 0; padding-right: 0; }
        .add-links-wrap {
            display: block !important;
        }
        .links-on-image {
            .add-links-wrap {
                display: none !important;
            }
        }
    }
}

.yith-wcan-loading {
    min-height: 200px;
    height: auto;
}

ul.products.yith-wcan-loading {
    .porto-loading-icon {
        position: fixed;
        z-index: 9999;
    }
    &:after {
        content: '';
        position: fixed;
        #{$left}: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        z-index: 9998;
    }
}

.prdctfltr_filter_title a {
    text-decoration: none;
}

/* Add to Cart Notification Style 2 */
#loading-mask {
    font-size: 1.1em;
    font-weight: 700;
    position: fixed;
    text-align: center;
    z-index: 20002;
    width: 100%;
    height: 100%;
    #{$left}: 0;
    top: 0;
}
.loader-container {
    position: absolute;
    #{$left}: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 199;
    text-align: center;
    background-color: rgba(255,255,255,.5);
    display: none;
    > .loader {
        position: absolute;
        width: 100%;
        top: 50%;
        margin-top: -8px;
    }
    i.porto-ajax-loader {
        display: inline-block;
        border: 2px solid transparent;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        border-radius: 20px;
        @include animate-spin;
        &:before {
            left: -2px;
            top: -2px;
            display: inline-block;
            position: absolute;
            content: '';
            width: inherit;
            height: inherit;
            border: inherit;
            border-radius: inherit;
            border-top-color: inherit;
            -webkit-animation: spin 1.5s infinite ease;
            animation: spin 1.5s infinite ease;
        }
    }
}
.after-loading-success-message {
    display: none;
    font-size: 1.1em;
    position: fixed;
    text-align: center;
    z-index: 20002;
    width: 100%;
    height: 100%;
    #{$left}: 0;
    top: 0;
}
.background-overlay {
    position: absolute;
    #{$left}: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    filter: Alpha(Opacity=50);
    background-color: transparent;
}
.success-message-container {
    margin: auto;
    padding: 20px 14px;
    line-height: 1.4;
    position: relative;
    text-align: center;
    top: 35%;
    width: 300px;
    z-index: 1000;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    .product-name {
        font-size: 14px;
        margin: 5px 0 10px;
    }
    .msg {
        display: block;
        margin-bottom: 10px;
        font-size: 13px;
    }
    button {
        margin-top: 12px;
        padding: 8.5px 0;
        min-width: 133px;
    }
    img {
        display: inline-block;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}
.archive-products .star-rating {
    font-size: 13px;
}