
div.quantity {
    display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex;
    position: relative;
    /*min-width: 4.1429em;
    margin-#{$right}: .8571em;*/
    text-align: $left;
    vertical-align: middle;
    &.hidden { display: none !important; }
    button[type='button'] {
        cursor: pointer;
    }
    .qty {
        -moz-appearance: textfield;
        text-align: center;
        width: 2.5em;
        height: 34px;
        padding-left: 0;
        padding-right: 0;
        box-shadow: none;
    }
    .minus,
    .plus {
        position: relative;
        width: 2em;
        height: 34px;
        line-height:  1;
        border: 1px solid;
        padding: 0;
        outline: none;
        text-indent: -9999px;
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 9px;
            border-top: 1px solid;
            margin-top: -0.5px;
            margin-left: -4.5px;
        }
    }
    .plus {
        #{$left}: -1px;
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            height: 9px;
            border-left: 1px solid;
            margin-top: -4.5px;
            margin-left: -0.5px;
        }

    }
    .minus {
        #{$left}: 1px;
    }
}

.quantity {
    .qty {
        color: #777;
    }
}